build --cxxopt=-std=c++14
build --cxxopt=-Wall
build --cxxopt=-Werror
build --cxxopt=-Wno-unused-parameter

build:ndebug --cxxopt=-DNDEBUG

build:opt -c opt
build:opt --config=ndebug
build:opt --copt=-O3
build:opt --cxxopt=-O3
build:opt --copt=-funroll-loops
build:opt --cxxopt=-funroll-loops
